debug= 
host=
httpport= 
appName=
version=
secretJwt=

mysql_dbname=
mysql_username=
mysql_password=
mysql_root_password=
mysql_host=
mysql_port=
mysql_schema=
mysql_logMode=
mysql_maxLifetime=
mysql_maxOpenConnections=
mysql_minIdleConnections=